@import url("https://fonts.googleapis.com/css2?family=Galada&family=Ubuntu:ital,wght@1,300&display=swap");
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-color: #16181a;
}
.navbar .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 1px 2px grey;
}
.navbar  .navbar-toggler{
	outline: none !important;
}
.group .about-taskphamer{
    color: #fff;
}
.group{
    width: 100%;
}
.group .para-about-taskphamer{
    color: #fff;
    font-size: 1.6rem;
}
.group .about-me{
    color: #fff;
    font-size: 20px;
}